{% include 'page.html' %}
{% include 'header.html' %}
<p style="text-align: center;"><span style="color: #ff0000;"><strong>Red</strong></span>: Last location received. <span style="color: #0000ff;"><strong>Blue</strong></span>: Location history.</p>
<p style="text-align: center;">&nbsp;</p>
<div><p align="center"><iframe style="border: none;" title="Map" src="/view_map?track=" width="1100" height="700"></iframe></p></div>
<p>&nbsp;</p>

<div class="footer-immediate">
{% include 'footer.html' %}
</div>

<style>
.footer-immediate {
  margin-top: 0;
  padding: 15px;
  text-align: center;
  background-color: #f8f9fa;
  border-top: 2px solid #dee2e6;
  width: 100%;
}
</style>
