<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="120" > 
    <title>{{title}}</title>
    <style>
body {background-color: D3D3D3;}
h1   {color: green;}
p {
  padding: 10px;
  margin: 20px;

}
.content {
  max-width: 1200px;
  min-width: 1200px;
  margin: auto;
}
 .emergency_button {
  display: block;
  width: 100%;
  border: none;
  background-color: ##ff0000;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
</style>
</head>
<div class="content">
<body>
{% include 'header.html' %}
{{emergency}}
<p style="text-align: center;"><em>Page automatically reloads every 2 minutes.</em></p>

<table>
<tbody>
<tr>
<td><div><p align="center"><iframe style="border: none;" title="Bulletin Board" src="bulletin_board" width="480" height="950"></iframe></p></div></td>
<td><div>
<p align="center"><iframe style="border: none;" title="Positions Received" src="positions" width="620" height="950"></iframe></p>
</div></td>
</tr>
</tbody>
</table>
 {% include 'footer.html' %}

